@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea, address {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  text-decoration: none !important; }

/***********************************custom-theme-elements****************************/
/************************************************************************************/
.small-blue-btn {
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
  background: #2889c2;
  padding: 5px 40px; }
  .small-blue-btn:hover {
    color: #FFFFFF;
    text-decoration: none;
    background: #5daed7; }

.small-yellow-btn {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  background: #F79A1F;
  text-transform: uppercase;
  padding: 5px;
  text-decoration: none; }
  .small-yellow-btn:hover, .small-yellow-btn:visited {
    color: #FFFFFF;
    text-decoration: none; }
  .small-yellow-btn:hover {
    background: #f8b76f; }

.small-gray-btn {
  font-size: 16px;
  font-weight: 300;
  padding: 5px 25px;
  color: #FFFFFF;
  background: #2D2D2D;
  border: none;
  outline: none; }
  .small-gray-btn:hover {
    color: #FFFFFF;
    text-decoration: none; }

.big-yellow-btn {
  color: #FFFFFF;
  background: #F79A1F;
  padding: 10px 30px;
  font-size: 24px;
  font-weight: 300;
  outline: none;
  border: none;
  width: 250px;
  text-align: center;
  text-decoration: none !important; }
  .big-yellow-btn:hover, .big-yellow-btn:visited {
    color: #FFFFFF;
    text-decoration: none !important; }
  .big-yellow-btn:hover {
    background: #f8b76f; }

.big-yellow-btn.disable {
  background-color: #2D2D2D;
  pointer-events: none; }

/*****************************************comparison-page-7-6s***********************/
/************************************************************************************/
.comparison h1 {
  font-size: 40px;
  padding: 40px 0 60px;
  font-weight: 300;
  text-align: center; }
  .comparison h1 span {
    color: #2889c2; }
.comparison .wrap-img {
  width: 70%;
  height: auto;
  margin: 0 auto; }
  .comparison .wrap-img a {
    display: block; }
    .comparison .wrap-img a img {
      width: 100%;
      height: auto; }
.comparison h3 {
  color: #2889c2;
  font-weight: 300;
  margin-bottom: 30px; }
.comparison .text-section {
  text-align: justify;
  padding: 30px 0; }
  .comparison .text-section p {
    font-size: 19px;
    font-weight: 300; }
    .comparison .text-section p span {
      font-weight: 600; }
  @media only screen and (max-width: 992px) {
    .comparison .text-section {
      padding: 30px 10px; } }
.comparison .wrap-table {
  padding-right: 0;
  padding-left: 0; }
.comparison .table-comparison {
  font-size: 19px;
  font-weight: 300;
  margin: 30px 0;
  display: table;
  background: #FFFFFF;
  border-color: #3a87ad;
  border-spacing: 5px; }
.comparison .header-table {
  width: 20%; }
.comparison .cell-info {
  width: 40%; }
.comparison .row-r {
  display: table-row; }
  .comparison .row-r:nth-child(odd) {
    background: #EEEEEE; }
  .comparison .row-r:last-child {
    background: none; }
.comparison .cell-table {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  height: 60px;
  padding: 0 30px; }
  @media only screen and (max-width: 1200px) {
    .comparison .cell-table {
      padding: 0 15px; } }
  .comparison .cell-table p {
    font-size: 14px;
    display: inline-block; }
    .comparison .cell-table p span {
      font-weight: 400; }
  .comparison .cell-table .wrap {
    width: 49%;
    display: inline-block;
    font-size: 12px; }
    @media only screen and (max-width: 992px) {
      .comparison .cell-table .wrap {
        width: 100%; }
        .comparison .cell-table .wrap p {
          display: block; } }
  .comparison .cell-table .price {
    font-size: 36px; }
    .comparison .cell-table .price span {
      font-size: 18px;
      margin-top: 4px;
      position: absolute; }
.comparison .cell-btn {
  padding: 0;
  text-align: right; }
.comparison .cta {
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 50px; }
  .comparison .cta a {
    color: #2889c2; }
    .comparison .cta a:hover {
      color: #23527c; }

/*****************tables****************/
.table-compare {
  font-size: 12px; }
  .table-compare table {
    margin-top: 50px;
    margin-bottom: 50px; }
  .table-compare tr:last-child td {
    font-size: 26px;
    font-weight: 300; }
  .table-compare tr:nth-child(even) td {
    background-color: #EEEEEE; }
  .table-compare tr:first-child td {
    font-weight: 600;
    color: white;
    background-color: #2D2D2D;
    padding: 6px;
    border-bottom: solid 1px black;
    font-size: 14px; }
    .table-compare tr:first-child td:first-child {
      background: none; }
  .table-compare tr td:first-child {
    font-weight: 300;
    font-size: 15px;
    text-align: left;
    max-width: 100px; }
  .table-compare .text-left {
    text-align: left; }
  .table-compare .price td {
    position: relative; }
    .table-compare .price td span {
      font-size: 14px;
      position: absolute;
      margin-top: 5px; }
  .table-compare td {
    padding: 6px;
    width: 200px;
    text-align: center;
    border-right: 1px solid black; }
    .table-compare td p {
      font-size: 12px;
      font-weight: 300;
      text-align: left; }
      .table-compare td p span {
        font-weight: 400; }

.text-sample p {
  padding: 10px;
  font-weight: 300;
  font-size: 18px; }

@media only screen and (max-width: 992px) {
  /*****************table****************************/
  /*!
  // CSS only Responsive Tables
  // http://dbushell.com/2016/03/04/css-only-responsive-tables/
  // by David Bushell
  */
  .table-compare .container {
    padding-right: 0;
    padding-left: 0;
    width: 100%; }
  .table-compare table {
    margin-top: 10px;
    margin-bottom: 10px; }

  .rtable {
    /*!
    // IE needs inline-block to position scrolling shadows otherwise use:
    // display: block;
    // max-width: min-content;
    */
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    border-spacing: 0; }

  .rtable,
  .rtable--flip tbody {
    -webkit-overflow-scrolling: touch; }

  .rtable th {
    font-size: 14px;
    text-align: left;
    font-weight: 300;
    background: #f2f0e6; }

  .rtable th,
  .rtable td {
    padding: 12px 6px;
    border-right: 1px solid black; }

  .rtable--flip {
    display: flex;
    overflow: hidden;
    background: none; }

  .rtable--flip thead {
    display: flex;
    min-width: min-content; }

  .rtable--flip tbody {
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden; }

  .rtable--flip tr {
    display: flex;
    flex-direction: column;
    min-width: 120px; }

  .rtable--flip td,
  .rtable--flip th {
    display: block; }

  .rtable--flip td {
    background-image: none !important;
    border-left: 0; }

  .rtable--flip th:not(:last-child),
  .rtable--flip td:not(:last-child) {
    border-bottom: 0; }

  .table-compare td {
    min-width: 135px; } }
@media only screen and (max-width: 768px) {
  .big-yellow-btn {
    font-size: 18px;
    padding: 10px; }

  .comparison h1 {
    font-size: 28px;
    padding: 20px 0; }
  .comparison h3 {
    font-size: 20px;
    margin-bottom: 10px; }
  .comparison .text-section {
    padding: 10px; }
    .comparison .text-section p {
      font-size: 16px; }
  .comparison .cta {
    font-size: 28px; }
  .comparison .table-comparison {
    margin-top: 0; } }
@media only screen and (max-width: 520px) {
  .comparison .table-comparison {
    font-size: 14px; }

  .comparison .cell-table {
    padding: 0 5px; }
    .comparison .cell-table p {
      font-size: 12px; }

  .big-yellow-btn {
    font-size: 16px;
    padding: 10px 5px; } }
@media only screen and (max-width: 430px) {
  .comparison .col-xs-4 {
    width: 50%;
    margin-left: 0; }
  .comparison h1 {
    font-size: 24px; }
  .comparison h3 {
    font-size: 18px; }
  .comparison .cta {
    font-size: 24px; }
  .comparison .table-comparison {
    font-size: 12px; }
  .comparison .text-section p {
    font-size: 14px; }
  .comparison .cell-table p {
    font-size: 9px; }
  .comparison .cell-table .price {
    font-size: 28px; }
  .comparison .big-yellow-btn {
    display: inherit; } }

/*# sourceMappingURL=main.css.map */
