@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}

div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea,address {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  text-decoration: none !important;
}


/***********************************custom-theme-elements****************************/
/************************************************************************************/
$black-color: #222222;
$dark-gray-color: #2D2D2D;
$blue-color: #2889c2;
$yellow-color: #F79A1F;
$light-gray-color: #EEEEEE;
$white-color: #FFFFFF;

.small-blue-btn {
  font-size: 16px;
  font-weight: 300;
  color: $white-color;
  background: $blue-color;
  padding: 5px 40px;
  &:hover {
    color: $white-color;
    text-decoration: none;
    background: #5daed7;
  }
}

.small-yellow-btn {
  font-size: 14px;
  font-weight: 400;
  color: $white-color;
  background: $yellow-color;
  text-transform: uppercase;
  padding: 5px;
  text-decoration: none;
  &:hover, &:visited {
    color: $white-color;
    text-decoration: none;
  }
  &:hover {
    background: #f8b76f;
  }

}

.small-gray-btn {
  font-size: 16px;
  font-weight: 300;
  padding: 5px 25px;
  color: $white-color;
  background: $dark-gray-color;
  border: none;
  outline: none;
  &:hover {
    color: $white-color;
    text-decoration: none;
  }
}

.big-yellow-btn {
  color: $white-color;
  background: $yellow-color;
  padding: 10px 30px;
  font-size: 24px;
  font-weight: 300;
  outline: none;
  border: none;
  width: 250px;
  text-align: center;
  text-decoration: none !important;
  &:hover, &:visited {
    color: $white-color;
    text-decoration: none !important;
  }
  &:hover {
    background: #f8b76f;
  }
}

.big-yellow-btn.disable{
  background-color: $dark-gray-color;
  pointer-events: none;

}

/*****************************************comparison-page-7-6s***********************/
/************************************************************************************/
.comparison {
  h1 {
    font-size: 40px;
    padding: 40px 0 60px;
    font-weight: 300;
    text-align: center;
    span {
      color: $blue-color;
    }
  }
  .wrap-img {
    width: 70%;
    height: auto;
    margin: 0 auto;
    a {
      display: block;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  h3 {
    color: $blue-color;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .text-section {
    text-align: justify;
    padding: 30px 0;
    p {
      font-size: 19px;
      font-weight: 300;
      span {
        font-weight: 600;
      }
    }
    @media only screen and (max-width: 992px) {
      padding: 30px 10px;
    }
  }
  .wrap-table {
    padding-right: 0;
    padding-left: 0;
  }
  .table-comparison {
    font-size: 19px;
    font-weight: 300;
    margin: 30px 0;
    display: table;
    background: $white-color;
    border-color: #3a87ad;
    border-spacing: 5px;
  }
  .header-table {
    width: 20%;
  }
  .cell-info {
    width: 40%;
  }

  .row-r {
    display: table-row;
    &:nth-child(odd) {
      background: $light-gray-color;
    }
    &:last-child {
      background: none;
    }
  }
  .cell-table {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    height: 60px;
    padding: 0 30px;
    @media only screen and (max-width: 1200px) {
      padding: 0 15px;
    }
    p {
      font-size: 14px;
      display: inline-block;
      span {
        font-weight: 400;
      }
    }
    .wrap {
      width: 49%;
      display: inline-block;
      font-size: 12px;
      @media only screen and (max-width: 992px) {
        width: 100%;
        p {
          display: block;
        }
      }
    }
    .price {
      font-size: 36px;
      span {
        font-size: 18px;
        margin-top: 4px;
        position: absolute;
      }
    }
  }
  .cell-btn {
    padding: 0;
    text-align: right;
  }
  .cta {
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 50px;
    a {
      color: $blue-color;
      &:hover {
        color: #23527c;
      }
    }
  }
}


/*****************tables****************/



.first-table {
  font-size: 12px;
  tr:last-child td {
    font-size: 26px;
    font-weight: 300;

  }
  tr:nth-child(even) td {
    background-color: #EEEEEE;
  }
  tr:first-child td {
    &:first-child {
      background:none;
    }
    font-weight: 600;
    color: white;
    background-color: #2D2D2D;
    padding: 6px;
    border-bottom: solid 1px black;
  }
  tr td:first-child {
    font-weight: 300;
    font-size: 15px;
    text-align: left;
    max-width: 100px;
  }
  .text-left {
    text-align: left;
  }
  td {
    padding: 6px;
    width: 200px;
    text-align: center;
    border-right: 1px solid black;

    p {
      font-size: 12px;
      font-weight: 300;
      text-align: left;
      span {
        font-weight: 400;
      }
    }
  }
}

.ttt {
  p {
    padding: 10px;
    font-weight: 300;
    font-size: 18px;
  }
}



@media only screen and (max-width: 992px) {
  /*****************table****************************/
  /*!
  // CSS only Responsive Tables
  // http://dbushell.com/2016/03/04/css-only-responsive-tables/
  // by David Bushell
  */

  .rtable {
    /*!
    // IE needs inline-block to position scrolling shadows otherwise use:
    // display: block;
    // max-width: min-content;
    */
    display: inline-block;
    vertical-align: top;
    max-width: 100%;

    overflow-x: auto;

    // optional - looks better for small cell values
    //  white-space: nowrap;

    border-collapse: collapse;
    border-spacing: 0;
  }

  .rtable,
  .rtable--flip tbody {
    // optional - enable iOS momentum scrolling
    -webkit-overflow-scrolling: touch;

    // scrolling shadows
    background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center,
    radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
    background-size: 10px 100%, 10px 100%;
    background-attachment: scroll, scroll;
    background-repeat: no-repeat;
  }

  // change these gradients from white to your background colour if it differs
  // gradient on the first cells to hide the left shadow
  .rtable td:first-child,
  .rtable--flip tbody tr:first-child {
    background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-repeat: no-repeat;
    background-size: 20px 100%;
  }

  // gradient on the last cells to hide the right shadow
  .rtable td:last-child,
  .rtable--flip tbody tr:last-child {
    background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 20px 100%;
  }

  .rtable th {
    font-size: 14px;
    text-align: left;
    font-weight: 300;
    background: #f2f0e6;
  }

  .rtable th,
  .rtable td {
    padding: 12px 6px;
    border-right: 1px solid black;
    //  border-left: 1px solid black;
  }

  .rtable--flip {
    display: flex;
    overflow: hidden;
    background: none;
  }

  .rtable--flip thead {
    display: flex;
    //  flex-shrink: 0;
    min-width: min-content;
  }

  .rtable--flip tbody {
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .rtable--flip tr {
    display: flex;
    flex-direction: column;
    min-width: 120px;
    //  flex-shrink: 0;
  }

  .rtable--flip td,
  .rtable--flip th {
    display: block;
  }

  .rtable--flip td {
    background-image: none !important;
    // border-collapse is no longer active
    border-left: 0;
  }

  // border-collapse is no longer active
  .rtable--flip th:not(:last-child),
  .rtable--flip td:not(:last-child) {
    border-bottom: 0;
  }

  .first-table {
    td {
      min-width: 135px;
    }
  }

}